fastapi==0.128.8 #el framework web.
uvicorn==0.39.0 #servidor que ejecuta la app de fastapi.
Jinja2==3.1.6 #plantillas HTML para la app web.
python-multipart==0.0.20 #permite recibir formularios, como el de gastos fijos.
httpx==0.28.1 #lo usa FastAPI para simular peticiones en los tests.
pytest==8.4.2 #Los tests se ejecutan con pytest.
pytest-cov==7.1.0 #pytest-cov es un plugin de pytest que permite medir la cobertura de código de los tests.